:root {
    // font system:
    --font-family-main: monospace, sans-serif;
    --font-size-m: 16px;
    --font-line-m: 24px;
    --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);
    --font-size-l: 24px;
    --font-line-l: 32px;
    --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);
    --font-size-xl: 32px;
    --font-line-xl: 40px;
    --font-xl: var(--font-size-xl) / var(--font-line-xl) var(--font-family-main);

    // margins:
    --mb-s: 12px;
    --mb-m: 16px;
    --mb-l: 20px;

    // Navbar:
    --navbar-height: 50px;

    // Sidebar:
    --sidebar-width: 300px;
    --sidebar-width-collapsed: 80px;

    // Z-indexes:
    --modal-z-index: 10;

    // Overlay:
    --overlay-color: rgb(0 0 0 / 60%);

    // Error:
    --red-light: #e15a36;
    --red-dark: #e15a36;

    // Border:
    --base-border-radius: 8px;
    --round-border-radius: 50%;
}

/* --font-m: Это объединяющая переменная стилей через var() -> font/size/line */
