.Wrapper {
    display: flex;
}

.label {
    margin-right: 5px;
}

.select {
    background: none;
    outline: none;
    color: var(--primary-color);
    padding: 2px 10px 2px 2px;
    border: 1px solid var(--primary-color);
    border-radius: 6px;

    &:hover {
        cursor: pointer;
    }
}

.option {
    color: var(--inverted-secondary-color);
    background: var(--inverted-secondary-color);
}

.readonly {
    opacity: 0.6;
    cursor: not-allowed;
}
