.app.dark {
    --bg-color: #232323;
    --inverted-bg-color: #fff;
    --primary-color: #ffbd07;
    --secondary-color: #232323;
    --inverted-primary-color: #232323;
    --inverted-secondary-color: #ffbd07;
}
