.app_dark_theme {
    --bg-color: #232323;
    --inverted-bg-color: #fff;
    --primary-color: #dbbe71f3;
    --secondary-color: #ffbd07;
    --inverted-primary-color: #ffbd07;
    --inverted-secondary-color: #1d1a1a;

    // skeleton
    --skeleton-color: #878787;
    --skeleton-shadow: #c8c8c8;
}
