/* stylelint-disable color-hex-case */

.app_green_theme {
    --bg-color: #F2F4F1;
    --inverted-bg-color: #37642a;
    --primary-color: #F2F4F1;
    --secondary-color: #474F21;
    --inverted-primary-color: #37642a;
    --inverted-secondary-color: #F2F4F1;

    // skeleton
    --skeleton-color: #67815f;
    --skeleton-shadow: #6c7733;

    // code
    --code-bg-color: #748f6d;
}
