/* stylelint-disable color-function-notation */
:root {
    --bg-color: #fff;
    --inverted-bg-color: #232323;
    --primary-color: #1d1a1a;
    --secondary-color: #ffbd07;
    --inverted-primary-color: #ffbd07;
    --inverted-secondary-color: #fff;

    // skeleton
    --skeleton-color: #d1b977;
    --skeleton-shadow: rgb(131, 123, 103);

    // code
    --code-bg-color: #F7F7F7;
}
