.AppLink {
    color: var(--primary-color);
}

.primary {
    color: var(--inverted-primary-color);
    text-decoration: none;

    &:hover {
        opacity: 0.6;
        transition: opacity 250ms ease-out;
    }
}

.secondary {
    color: var(--inverted-secondary-color);
    text-decoration: none;

    &:hover {
        text-decoration: underline;
        opacity: 0.6;
        transition: opacity 250ms ease-out;
    }
}

.red {
    color: red;

    &:hover {
        color: rgb(255 0 0 / 58.5%);
        transition: 250ms ease-out;
    }
}
