.AppLink {
    color: var(--primary-color);
}

.primary {
    color: var(--primary-color);
    text-decoration: none;

    &:hover {
        color: #a7a7a7;
        transition: 300ms ease-out;
    }
}

.secondary {
    color: var(--inverted-primary-color);
    text-decoration: none;

    &:hover {
        color: #a87b00;
        transition: 300ms ease-out;
    }
}

.red {
    color: red;

    &:hover {
        color: rgb(255 0 0 / 58.5%);
        transition: 300ms ease-out;
    }
}
